# Старые ручные бэкапы — Git заменяет их
pbi_backups/

# Большие папки с сырыми данными
Raw Data/
deprecated/

# Видео и большие медиафайлы
*.mp4
*.mp3

# Большие PDF и PPTX
*.pdf
*.pptx

# QGIS файлы
*.qmd
*.qgz

# Power BI временные файлы
*.pbix.lock
*.bak

# Временные файлы системы
*.tmp
~$*
Thumbs.db
.DS_Store
